.el-col-3::-webkit-scrollbar {
  width: 0 !important;
}
.el-col-3::-ms-scrollbar {
  width: 0 !important;
}
.el-col-3:-moz-scrollbars-none {
  width: 0 !important;
}
.el-main::-webkit-scrollbar {
  width: 0 !important;
}
.el-main::-ms-scrollbar {
  width: 0 !important;
}
.el-main::-moz-scrollbar {
  width: 0 !important;
}
